@import '../../sass/variables';

.wrapperContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 97px);
    transition: visibility 0.2s ease-out;
    background: $colorFadedWhite;

    .header {
        text-align: center;
        padding: 5px;
        margin-bottom: 17px;
        font-size: 22px;
        border-bottom: 2px solid #fff;
    }

    //.passwordState {
    //    display: flex;
    //    flex-direction: row;
    //    margin-top: 20px;
    //
    //}

    .show {
        visibility: visible;
    }

    .registerBtn{
        font-size: 1.6em;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: #157919;
        }
    }

    .signedIn {
        font-size: 7em;
        margin-bottom: 20px;
    }
}

