.styledButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 10px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;

    &.signOut {
        background: #FFF;
        color: #ca1414;
        &:hover {
            border: 0.16em solid #FFFFFF;
            background: #ca1414;
            color: #FFF;
        }
    }

    &.signIn {
        background: #FFF;
        color: #076224;
        &:hover {
            border: 0.16em solid #FFFFFF;
            background: #076224;
            color: #FFF;
        }
    }

    &.addButton {
        background: #733e3e;
        &:hover {
            background: #9b6e6e;
            color: #733e3e;
        }
    }

    &:hover {
        color:#d38e0d;
        background: #f5eeeee1;
        border: 0.16em solid transparent;
    }
    &:active {
        color:#FFFFFF;
        background: #d38e0d;
        border: 0.16em solid transparent;
    }
}
@media all and (max-width:30em) {
    .styledButton{
        margin: 0.4em auto;
    }
}