@import '../../../sass/variables';

.recipePageContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;

    h1 {
        background: $colorFadedWhite;
        padding: 20px 15px;
        font-size: 3em;
    }
}