@import '../../../sass/variables';

.recipePageContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    //height: calc(100% - #{$headerHeight});
    min-height: calc(100vh - 97px);


    h1 {
        background: $colorFadedWhite;
        padding: 20px 15px;
        font-size: 3em;
    }
}