.homeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    height: calc(100vh - 137px);
    margin: 20px 50px;
    box-sizing: border-box;

    .title {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear 2000ms;

        @keyframes reveal {
            80% {
                letter-spacing: 8px;
            }
            100% {
                background-size: 600% 600%;
            }
        }
        @keyframes glow {
            40% {
                text-shadow: 0 0 8px #fff;
            }
        }
    }

    h3 {
        font-style: italic;
        text-decoration: underline;
    }
}