@import '../../sass/_variables';

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 47px;
    min-width: 190px;
    margin: 0 15px;
    border: 1px solid #FFF;
    padding: 10px 25px;
    box-sizing: border-box;

    &:hover {
        color: #cdc8c8;
        :global(.search-icon) {
            fill: #cdc8c8;
        }
    }

    &:global(.active) {
        font-weight: bold;
        color:orange;
        background: #a725257a;
        :global(.search-icon) {
            fill: orange;
        }
    }

    &:global(.search-icon) {
        fill: orange;
    }
}

