@import '../../sass/_variables';

.navlink {
    margin: 0 15px;
    border: 1px solid #FFF;
    padding: 8px 40px;
    &:hover {
        color: #cdc8c8;
    }

    &:global(.active) {
        font-weight: bold;
        color:orange;
    }
}

