.modalWrapper {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: initial !important;

    * {
        scrollbar-width: thin;
        scrollbar-color: #efdbcd transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 15px;
    }

    *::-webkit-scrollbar-track {
        background: #d6c2c2;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #733e3e;
        //border-radius: 5px;
    }

    .modal {
        transition: opacity 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 800px;
        //max-width: 850px;
        height: 98vh;
        padding: 20px 50px;
        background-size: 50%, 50%;
        box-shadow: 5px 5px 10px black;
        background: #efdbcd;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow-y: auto;
        position: relative;
        color: #753f3f;

        h2 {
            text-align: center;
            font-size: 2em;
        }
        h3 {
            text-decoration: underline;
            margin: 10px 0;
        }
        img {
            margin: auto;
            background-size: contain;
        }
        p {
            text-align: left;
            margin: 5px 0;
        }

        .ingrWrapper {
            display: flex;
            //flex-direction: column;
            flex-wrap: wrap;
            //height: 150px;
            span {
                background: #864747;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 7px;
                color: white;
                text-align: center;
                min-width: 50px;
            }
        }

        .close {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            height: 16px;
            text-decoration: none;
            width: 16px;

            svg {
                position: relative;
                left: -40px;
                top: -5px;
                width: 24px;
            }
        }
    }
}


