@import '../../sass/_variables';

.headerWrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: $headerHeight;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center; 
    background-color: $colorPrimaryBackground;

    .logo {
        width: 70px;
        height:70px;
        display:flex;
        flex-grow: 1;
        margin: 0 20px;
    }
    .navigation {
        display: flex;
        flex-grow: 3;
        justify-content: flex-end;
    }
}