@import '../../sass/_variables';

.headerWrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: $headerHeight;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    background-color: $colorPrimaryBackground;
}